* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.bg {
    background: url(assets/img/bg.jpg) no-repeat;
}

:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.countdown__day--day,
.countdown__hour--hour,
.countdown__minute--minute,
.countdown__second--second {
    font-size: 3rem;
}

.surprises {
    /* background: url(assets/img/1.png) center;
    animation: surprise 4s infinite alternate; */
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    width: 480px;
    height: 480px;
    bottom: -500px;
    transition: 1s;
}


h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
    text-align: center;
}

.greeting {
    text-align: center;
}

/* Button */
button {
	width: 150px;
	height: 50px;
    margin-top: 30px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #ffc421;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

button:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}

button:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

button:hover:after {
	background: white;
	box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
	animation: spin 1s infinite linear;
}

@keyframes spin{
	25%{transform: translateX(-25px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
}

button:focus {
	outline: none;
}

/* cat */
.cat1 {
    width: 460px;
    height: 280px;
    position: absolute;
    bottom: 10px;
    z-index: -1;
}

.cat2 {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    left:20px;
    bottom: 0;
}

.cat3 {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    right:20px;
    top:30px;
}

.balloon1 {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -800px;
}